USE [master]
GO
/****** Object:  Database [HealthCareDB]    Script Date: 9/20/2025 1:54:06 AM ******/
CREATE DATABASE [HealthCareDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HealthCareDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HealthCareDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HealthCareDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HealthCareDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HealthCareDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HealthCareDB]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 9/20/2025 1:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleId] [int] NOT NULL,
	[DoctorId] [int] NOT NULL,
	[PatientId] [int] NOT NULL,
	[AppointmentDate] [datetime] NOT NULL,
	[AppointmentNumber] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[del_flg] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 9/20/2025 1:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[SpecializationId] [int] NOT NULL,
	[del_flg] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorSchedules]    Script Date: 9/20/2025 1:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorSchedules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [int] NULL,
	[ScheduleDate] [datetime] NULL,
	[MaxPatients] [int] NULL,
	[del_flg] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 9/20/2025 1:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[del_flg] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specializations]    Script Date: 9/20/2025 1:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specializations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[del_flg] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 9/20/2025 1:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[del_flg] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([Id], [ScheduleId], [DoctorId], [PatientId], [AppointmentDate], [AppointmentNumber], [Status], [del_flg]) VALUES (1, 4, 1, 1, CAST(N'2025-08-12T21:00:35.000' AS DateTime), 1, N'Complete', 0)
INSERT [dbo].[Appointments] ([Id], [ScheduleId], [DoctorId], [PatientId], [AppointmentDate], [AppointmentNumber], [Status], [del_flg]) VALUES (2, 4, 1, 1, CAST(N'2025-08-12T21:00:35.000' AS DateTime), 2, N'Complete', 0)
INSERT [dbo].[Appointments] ([Id], [ScheduleId], [DoctorId], [PatientId], [AppointmentDate], [AppointmentNumber], [Status], [del_flg]) VALUES (3, 4, 1, 1, CAST(N'2025-08-12T21:00:35.000' AS DateTime), 3, N'Cancelled', 0)
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([Id], [Name], [SpecializationId], [del_flg]) VALUES (1, N'Ko Sam', 2, 0)
INSERT [dbo].[Doctors] ([Id], [Name], [SpecializationId], [del_flg]) VALUES (2, N'Ko Sann', 1, 0)
INSERT [dbo].[Doctors] ([Id], [Name], [SpecializationId], [del_flg]) VALUES (4, N'Mg Mg 2', 3, 0)
SET IDENTITY_INSERT [dbo].[Doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[DoctorSchedules] ON 

INSERT [dbo].[DoctorSchedules] ([Id], [DoctorId], [ScheduleDate], [MaxPatients], [del_flg]) VALUES (4, 1, CAST(N'2025-08-12T21:00:35.000' AS DateTime), 5, 0)
INSERT [dbo].[DoctorSchedules] ([Id], [DoctorId], [ScheduleDate], [MaxPatients], [del_flg]) VALUES (7, 2, CAST(N'2025-10-11T21:05:18.000' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[DoctorSchedules] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([Id], [Name], [DateOfBirth], [Gender], [Phone], [Email], [del_flg]) VALUES (1, N'Jane Smith', CAST(N'1990-05-15' AS Date), N'Female', N'123-456-7890', N'jane.smith@example.com', 0)
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
SET IDENTITY_INSERT [dbo].[Specializations] ON 

INSERT [dbo].[Specializations] ([Id], [Name], [del_flg]) VALUES (1, N'နှလုံးအထူးကု ', 0)
INSERT [dbo].[Specializations] ([Id], [Name], [del_flg]) VALUES (2, N'အ​ထွေ​ထွေရောဂါကု', 0)
INSERT [dbo].[Specializations] ([Id], [Name], [del_flg]) VALUES (3, N'အစာအိမ်နှင့်အူလမ်း​ကြောင်းအထူးကု', 0)
SET IDENTITY_INSERT [dbo].[Specializations] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([Id], [Name], [Email], [Phone], [Role], [Username], [Password], [del_flg]) VALUES (1, N'John Doe', N'johndoe@example.com', N'+1-555-1234', N'Admin', N'admin', N'admin', 0)
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[DoctorSchedules] ([Id])
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD FOREIGN KEY([SpecializationId])
REFERENCES [dbo].[Specializations] ([Id])
GO
ALTER TABLE [dbo].[DoctorSchedules]  WITH CHECK ADD FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
USE [master]
GO
