@inherits LayoutComponentBase

<div class="page d-flex flex-column min-vh-100">

    <header>
        <Navbar />
    </header>

    <div class="d-flex flex-grow-1">

        <aside class="sidebar">
            <NavMenu />
        </aside>

        <main class="flex-grow-1">
            <div class="content-wrapper">
                <article>
                    @Body
                </article>
            </div>
        </main>

    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
